{% extends "base.html" %}
{% block body %}
    <h2>Please fill out the form with the Wisdom of your Grammatical Genius</h2>
    <form action="/show_output" method="post">
    <fieldset>
        <legend>{{ name }}</legend>
        <input type="hidden" name="id" value="{{ id }}">
        {% for var in attributes %}
        {{ var.type }}:<br>
        <input type="text" name="{{ var.var_name }}"><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </fieldset>
    </form>
{% endblock %}